<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${order.name}" class="form-control">
        </label>
        <p class="error" th:errors="${order.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${order.orderDetails.description}" class="form-control">
        </label>
        <p class="error" th:errors="${order.orderDetails.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input th:field="${order.orderDetails.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${order.orderDetails.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label>Order Number
            <input th:field="${order.orderDetails.orderNumber}" class="form-control">
        </label>
        <p class="error" th:errors="${order.orderDetails.orderNumber}"></p>
    </div>
    <div class="form-group">
        <label>Order Price
            <input th:field="${order.orderDetails.orderPrice}" class="form-control">
        </label>
        <p class="error" th:errors="${order.orderDetails.orderPrice}"></p>
    </div>
    <div class="form-group">
        <label>Order Address
            <input th:field="${order.orderDetails.orderAddress}" class="form-control">
        </label>
        <p class="error" th:errors="${order.orderDetails.orderAddress}"></p>
    </div>
    <div class="form-group">
        <label>Category
            <select th:field="${order.orderCategory}">
                <option th:each="orderCategory : ${categories}"
                        th:value="${orderCategory.id}"
                        th:text="${orderCategory.name}"
                ></option>
            </select>
            <p class="error" th:errors="${order.orderCategory}"></p>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>