<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">



<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact Email</th>
            <th>Order Number</th>
            <th>Flooring Type</th>
        </tr>
    </thead>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.name}"></td>
        <td th:text="${order.description}"></td>
        <td th:text="${order.contactEmail}"></td>
        <td th:text="${order.orderNumber}"></td>
        <td th:text="${order.type.displayName}"></td>
    </tr>
</table>

</body>
</html>